@import '../base';

.quote-container {

  .quote-image-container {
    max-width: 40%;
    margin: 0 auto;
  }

  .quote-copy {
    &:before {
      content : "\"";
    }
    &:after {
      content : "\"";
    }

    text-align: center;
  }

  .controls-container {
    text-align: center;

    button {
      @extend .button;

      margin: 0 .35em;
    }
  }
}